.form{
    border:2px solid black;
    /*box-sizing:border-box;*/
    background-color:#EFF2A6;
    /*width:2000px;*/
    height:310px;
    
    
}
.form1{
    border:1px solid black;
    margin-top:5px;
}
.form2{
    border:1px solid black;
    margin-top:5px;
    width:170px
}

.ui-widget{
    width:80%;
    border:1px solid black
}
.ui-g-12{
    width:280px
}
.forms{
    text-align:center;
}
.f1{
    float:left;
    margin-left:600px;
    /*margin-bottom:-400px*/
}