*{
    background-color:#D292EE;
}
.fix{
    float:left;
    
    /*width:20%*/
    /*margin-left:600px;*/
    /*margin-top:-20px;  */
    /*text-align:center;*/
    /*border:1px solid orange;*/
    /*vertical-align:top;*/
    
}
/*.fix1{
    float:left;

}*/